<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <form method="post" id="myForm">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>ID</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" id="myInputId" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" id="myInputName" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <form action="abc">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" id="name" />
                            </div>
                            <div class="form-group">
                                <label>Office</label>
                                <input class="form-control" id="office" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Position</label>
                                <input class="form-control" id="position" />
                            </div>
                            <div class="form-group">
                                <label>extn</label>
                                <input class="form-control" id="extn"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Salary</label>
                                <input class="form-control" id="salary" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date</label>
                                <input class="form-control" id="date" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table id="example" class="table table-bordered table-hover">
            <thead>
                <tr class="project-actions text-center">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Start Date</th>
                    <th>Office</th>
                    <th>Extn</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="myTable" style="text-align: center;">
            </tbody>
        </table>
    </div>
</section>
</div>
<footer>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-bodys row">
                <button class="btn btn-outline-primary col-md-1">F1</button>
                <button class="btn btn-outline-primary col-md-1">F2</button>
                <button class="btn btn-outline-primary col-md-1" id="btn_search">
                    <span>F3</span>
                    <br />
                    <span>Search</span>
                </button>
                <button class="btn btn-outline-primary col-md-1">F4</button>
                <button class="btn btn-outline-primary col-md-1 reset-btn">
                    <span>F5</span>
                    <br />
                    <span>Clear</span>
                </button>
                <button class="btn btn-outline-primary col-md-1">F6</button>
                <button class="btn btn-outline-primary col-md-1">F7</button>
                <button class="btn btn-outline-primary col-md-1">F8</button>
                <button class="btn btn-outline-primary col-md-1">F9</button>
                <button class="btn btn-outline-primary col-md-1" id="btn_save">
                    <span>F10</span>
                    <br />
                    <span>Save</span>
                </button>
                <button class="btn btn-outline-primary col-md-1">F11</button>
                <button class="btn btn-outline-primary col-md-1">F12</button>
            </div>
        </div>
    </div>
</footer>
<script src="~/Content/blog.js"></script>
<script src="~/Content/Js/index.js"></script>
<script>
    //Reset
    $(document).ready(function () {
        $(".reset-btn").click(function () {
            $("#myForm").trigger("reset");
        });
    });
    //Search
    var table = $('#example').DataTable();
    $('#btn_search').on('click', function () {
        var id = $('#myInputId').val();
        var name = $('#myInputName').val();
        table.columns(0).search(id).draw();
        table.columns(1).search(name).draw();
    });

    //Detail
    $('#example tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        $('#name').val(data["name"]);
        $('#position').val(data["position"]);
        $('#salary').val(data["salary"]);
        $('#date').val(data["start_date"]);
        $('#office').val(data["office"]);
        $('#extn').val(data["extn"]);
    });
    
        //Save
        $('#btn_save').on('click', function () {
            var data = table.rows().data();
            data.each(function (item, index) {
                //salary
                var salary = $('#salary_' + item.id).val();
                if (salary) {
                    item.salary = salary;
                }

                //start_date
                var start_date = $('#date_' + item.id).val();
                if (start_date) {
                    item.start_date = start_date;
                }

                //extn
                var extn = $('#extn_' + item.id).val();
                if (extn) {
                    item.extn = extn;
                }

                //position
                var position = $('#position_' + item.id + ' option:selected').val();
                if (position) {
                    item.position = position;
                }

                //office
                var office = $('#office_' + item.id + ' option:selected').val();
                if (office) {
                    item.office = office;
                }
            });
            console.log(data)
        });
</script>